.container
  = form_with model: @customer, url: mypage_password_public_customer_path(@customer), local: true, method: :put do |f|
    .form-group.row
      = f.label :password, "新しいパスワード", class: "col-md-3 col-form-label text-md-right"

      .col-md-7
        = f.password_field :password,
          class: "form-control #{"is-invalid" if @customer.errors.messages[:password].present? }",
          autocomplete: "new-password"

        - if @customer.errors.messages[:password].present?
          %span.invalid-feedback
            = @customer.errors.messages[:password].first

    .form-group.row
      = f.label :password_confirmation, "確認用", class: "col-md-3 col-form-label text-md-right"

      .col-md-7
        = f.password_field :password_confirmation,
          class: "form-control #{"is-invalid" if @customer.errors.messages[:password_confirmation].present? }",
          autocomplete: "new-password"

    .form-group.d-flex.justify-content-center
      %button.btn.btn-danger.w-25{type: "submit"}
        パスワード更新
