= render 'layouts/header_menu'

.customer-show-title
  %h2 アーティスト詳細

.customer-show-container.px-0.px-sm-0
  .row
    .col-md-3
      .customer-show-card
        .card
          .img-container
            - if @customer.profile_image.present?
              = image_tag @customer.profile_image
            - else
              = image_tag 'no_image'
          .card-body.text-container
            %h5.card-title
              = @customer.human_attribute_enum(:name)
            %h6.card-subtitle
              パート:
              - @customer.parts.each do |part|
                %i.fa-solid.fa-music
                = part.name
            %p.card-text
              = @customer.human_attribute_enum(:introduction)
            - if @customer.id == current_customer.id
              = link_to 'プロフィール編集', edit_public_customer_path(@customer), class: "btn btn-info customer-edit-link"
    .col-md-9
      %table.table.table-striped.customer-show-table{:width=>"100%",:border=>"1"}
        %colgroup
          %col{width: "19%"}
          %col{width: "81%"}
            %tr
              %th{scope:"row"} 名前
              %td
                = @customer.human_attribute_enum(:name)
            %tr
              %th{scope:"row"} 性別
              %td
                = @customer.human_attribute_enum(:sex)
            %tr
              %th{scope:"row"} 誕生日
              %td
                = @customer.birthday.strftime("%Y/%m/%d") unless @customer.birthday.nil?
            %tr
              %th{scope:"row"} パート
              %td
                - @customer.parts.each do |part|
                  %i.fa-solid.fa-music
                  = part.name
            %tr
              %th{scope:"row"} 活動場所
              %td
                = @customer.prefecture.name if @customer.prefecture.present?
            %tr
              %th{scope:"row"} 活動ペース
              %td 週１くらい
            %tr
              %th{scope:"row"} 好きなアーティスト
              %td GLAY、Beatles
            %tr
              %th{scope:"row"} 好きなジャンル
              %td
                - @customer.genres.each do |genre|
                  %i.fa-solid.fa-music
                  = genre.name
            %tr
              %th{scope:"row"} 作品URL
              %td http//~...
            %tr
              %th{scope:"row"} 自己紹介
              %td
                = @customer.human_attribute_enum(:introduction)
