= form_with model: [:public, event], local: true do |f|
  .event-container.px-0.px-sm-0
    %table.table.table-striped.event-table{:width=>"80%",:border=>"1"}
      %colgroup
        %col{width: "19%"}
        %col{width: "81%"}
          %tr
            %th{scope:"row"} イベント画像
            %td
              = f.file_field :event_image, accept: 'image/*'
              #new-event-image
              #edit-event-image
          %tr
            %th{scope:"row"}
              イベント名
              %i.text-red
                (必須)
            %td
              = f.text_field :event_name, class: 'form-control'
          %tr
            %th{scope:"row"} 参考URL
            %td
              = f.text_field :url, placeholder: "イベントに関連するURLを記入します", class: 'form-control'
          %tr
            %th{scope:"row"} URLの説明
            %td
              = f.text_field :url_comment, placeholder: "URLの説明を記入します", class: 'form-control'
          %tr
            %th{scope:"row"}
              所属コミュニティ
              %i.text-red
                (必須)
            %td
              - if @community_id.present? && @community_id.to_i > 0
                = f.hidden_field :community_id, value: @community_id
                = Community.find(@community_id).name
              - else
                = f.collection_select :community_id, current_customer.communities, :id, :name
          %tr
            %th{scope:"row"}
              開催日(開始時間)
              %i.text-red
                (必須)
            %td
              = f.datetime_field :event_start_time, style: "width:260px"
          %tr
            %th{scope:"row"}
              開催日(終了時間)
              %i.text-red
                (必須)
            %td
              = f.datetime_field :event_end_time, style: "width:260px"
          %tr
            %th{scope:"row"}
              参加締切日
              %i.text-red
                (必須)
            %td
              = f.datetime_field :event_entry_deadline, style: "width:260px"
          %tr
            %th{scope:"row"}
              曲リクエスト締切日
            %td
              = f.datetime_field :request_deadline, style: "width:260px"
          %tr
            %th{scope:"row"}
              参加費用
              %i.text-red
                (必須)
            %td
              = f.number_field :entrance_fee, style: "width:260px"
          %tr
            %th{scope:"row"}
              開催場所
              %i.text-red
                (必須)
            %td
              = f.text_field :place, class: 'form-control'
          %tr
            %th{scope:"row"}
              開催場所住所
              %i.text-red
                (必須)
            %td
              = f.text_field :address, class: 'form-control'
              %i.block ※開催場所の地図を表示する事ができます。
          %tr
            %th{scope:"row"}
              楽曲
              %i.text-red
                (必須)
            %td
              #songs.song-container
                = f.fields_for :songs, id: 'js-song-field' do |song|
                  - index = f.object.songs.index(song.object)
                  .field
                    .song-header
                      %strong= "#{index + 1}曲目"
                    = render 'public/events/song_fields', f: song
              .links
                = link_to_add_association '曲を追加', f, :songs,
                    class: 'btn btn-success js-add-song-field-btn',
                    data: { association: 'songs',association_insertion_method: 'append', association_insertion_node: '#songs'}

          %tr
            %th{scope:"row"} イベント補足
            %td
              = f.text_area :introduction, class: "event-introduction"
          = f.submit "イベントを登録", class: "btn btn-info event-btn", data: { confirm: 'こちらの内容で登録します。よろしいですか？' }
          = link_to '← イベントページに戻る', public_events_path(event), class: 'btn btn-secondary'
