= render 'layouts/header_menu'

.event-index-head-title
  %h2 イベント一覧
.events-kaminari
  = paginate @events
.event-index-container
  - if @events.present?
    - @events.each do |event|
      - @owner = Customer.find(event.customer.id)
      .card.mb-5
        .event-community-name
          = event.community.name
        - if event.event_end_time < Time.now
          .end-event
            イベント終了
        - else
          .active-event
            参加者募集中
        = link_to public_event_path(event), data: { 'turbolinks': false } do
          .img-container
            - if event.event_image.present?
              = image_tag event.event_image
            - else
              = image_tag 'no_image'
        .card-body.text-container
          %h5.card-title
            = link_to event.event_name, public_event_path(event), data: { 'turbolinks': false }
          %h6.card-subtitle
            %b 開催日(開始時間)
            %br
            <i class="fa-regular fa-clock"></i>
            = l event.event_start_time, format: :short
            %hr
            %b 開催日(終了時間)
            %br
            <i class="fa-solid fa-clock"></i>
            = l event.event_end_time, format: :short
            %hr
            %b 参加締切日
            %br
            <i class="fa-solid fa-clock-rotate-left"></i>
            = l event.event_entry_deadline, format: :short
            %hr
            <i class="fa-solid fa-sack-dollar"></i>
            %b 参加費用
            = event.entrance_fee.to_s + "円"
            %hr
            <i class="fa-solid fa-earth-asia"></i>
            %b 開催場所
            = event.place
            %hr
            <i class="fa-solid fa-people-group"></i>
            %b 参加人数
            :ruby
              joined_member_ids = []
              event.songs.each do |song|
                song.join_parts.each do |join_part|
                  joined_member_ids += join_part.customers.pluck(:id)
                end
              end
              joined_member_counts = joined_member_ids.uniq.length
            #{joined_member_counts}人
          %hr
          .event-show-link-area
            = link_to "イベント詳細へ", public_event_path(event), class: "btn btn-info event-show-link", data: { 'turbolinks': false }
          .event-action-btn
            - if @owner == current_customer
              %hr
              = link_to '編集する', edit_public_event_path(event), data: { 'turbolinks': false }, class: "btn btn-success event-show-link"
          %p.card-text
            .center
              %hr
              [イベント作成者]
              %br
            .event-owner-img
              = link_to public_customer_path(@owner), data: { 'turbolinks': false } do
                - if @owner.profile_image.present?
                  = image_tag @owner.profile_image
                - else
                  = image_tag 'no_image'
                .owner-name
                  = @owner.name
  - else
    まだ投稿記事はありません。
