= render 'layouts/header_menu'

.event-index-head-title
  .directory-page-heading
    %p.directory-page-heading__eyebrow Events
    %h2 イベント一覧
    %p.directory-page-heading__lead
      参加したいセッションやライブ企画を見つけて、次の音楽予定をつくりましょう。

  - if current_customer.can_create_event?(nil)
    .directory-page-action
      %button.btn.btn-info#open-create-event-modal
        <i class="fa-solid fa-plus"></i> イベント作成
  - else
    .directory-upgrade-panel
      = render "shared/feature_gate",
        feature_key: :music_event_create,
        title: "イベント作成ボタン",
        message: "イベント作成ボタンはCoreプラン契約で解放されます。参加する側から、企画する側へ進めます。",
        class_name: "feature-gate--inline"

.directory-search
  = form_with url: public_events_path, method: :get, local: true, class: "directory-search__form" do
    = text_field_tag :keyword, params[:keyword], placeholder: "イベント名・場所・コミュニティ名・曲名で検索", class: "directory-search__input"
    = select_tag :community_id, options_from_collection_for_select(@search_communities, :id, :name, params[:community_id]), include_blank: "コミュニティ", class: "directory-search__select"
    = select_tag :status, options_for_select(event_status_options, params[:status].presence || "all"), class: "directory-search__select"
    = select_tag :sort, options_for_select(event_sort_options, params[:sort].presence || "start_later"), class: "directory-search__select"
    = submit_tag "検索する", class: "btn btn-info directory-search__submit"
    = link_to "リセット", public_events_path, class: "btn btn-outline-secondary directory-search__reset"

.modal.fade#createEventModal{ tabindex: "-1", role: "dialog" }
  .modal-dialog.modal-dialog-centered{ role: "document" }
    .modal-content
      .modal-header
        %h5.modal-title コミュニティを選択
        %button.close{ "data-dismiss" => "modal", "aria-label" => "Close" }
          %span{ "aria-hidden" => "true" } ×

      .modal-body
        - if @available_communities.present?
          %p 作成したいコミュニティを選択してください：
          .community-list
            - @available_communities.each do |community|
              .community-item.card.mb-2.p-2
                %h6= community.name
                = link_to "このコミュニティで作成する", new_public_event_path(community_id: community.id),
                          class: "btn btn-success btn-sm mt-2"
        - else
          %p.text-muted.mb-1 イベントを作成するには、開催先のコミュニティが必要です。
          %p.text-muted.mb-0 参加中のコミュニティに入るか、Premiumプランで自分のコミュニティを作成してください。

      .modal-footer
        %button.btn.btn-secondary{ "data-dismiss" => "modal" } 閉じる

.events-kaminari
  = paginate @events
- if @events.present?
  %nav.event-toc.d-sm-none
    %h4.event-toc-title 🧭 目次
    %ul
      - @events.each_with_index do |event, index|
        %li
          🎸
          %a{href: "#event-#{index}"}= truncate(event.event_name, length: 20)

.event-index-container
  - if @events.present?
    - @events.each_with_index do |event, index|
      - @owner = Customer.find(event.customer.id)
      .card.mb-5{id: "event-#{index}"}
        .event-community-name
          = event.community.name
        - if event.event_end_time < Time.now
          .end-event
            イベント終了
        - else
          .active-event
            参加者募集中
        = link_to public_event_path(event), data: { 'turbolinks': false } do
          .img-container
            - if event.event_image.present?
              = image_tag event.event_image
            - else
              = image_tag 'no_image'
        .card-body.text-container
          %h5.card-title
            = link_to event.event_name, public_event_path(event), data: { 'turbolinks': false }
          %h6.card-subtitle
            <i class="fa-regular fa-clock"></i>
            %b 開催日(開始時間)
            %br
            = l event.event_start_time, format: :short
            %hr
            <i class="fa-solid fa-clock"></i>
            %b 開催日(終了時間)
            %br
            = l event.event_end_time, format: :short
            %hr
            <i class="fa-solid fa-clock-rotate-left"></i>
            %b 参加締切日
            %br
            = l event.event_entry_deadline, format: :short
            %hr
            <i class="fa-solid fa-sack-dollar"></i>
            %b 参加費用
            %br
            = event.entrance_fee.to_s + "円"
            %hr
            <i class="fa-solid fa-earth-asia"></i>
            %b 開催場所
            %br
            = event.place
            %hr
            <i class="fa-solid fa-people-group"></i>
            %b 参加人数
            :ruby
              joined_member_ids = []
              event.songs.each do |song|
                song.join_parts.each do |join_part|
                  joined_member_ids += join_part.customers.pluck(:id)
                end
              end
              joined_member_counts = joined_member_ids.uniq.length
            #{joined_member_counts}人
          %hr
          .event-show-link-area
            = link_to "イベント詳細へ", public_event_path(event), class: "btn btn-info event-show-link", data: { 'turbolinks': false }
          .event-action-btn
            - if @owner == current_customer
              %hr
              = link_to '編集する', edit_public_event_path(event), data: { 'turbolinks': false }, class: "btn btn-success event-show-link"
          %p.card-text
            .center
              %hr
              [イベント作成者]
              %br
            .event-owner-img
              = link_to public_customer_path(@owner), data: { 'turbolinks': false } do
                = customer_avatar_tag(@owner)
                .owner-name
                  = @owner.name
  - else
    まだ投稿記事はありません。
