= render 'layouts/header_menu'
.event-show
  .event-show-title
    %h2 イベント詳細
    .event-show-follow
      = link_to '参加する🎵', '#event-songs', data: { 'turbolinks': false }, class: "btn btn-sm btn-info event-show-btn"
      .event-request-icon
        = link_to '#event-request', class: "request-icon-text", data: { 'turbolinks': false } do
          %i.far.fa-comments.request-icon
          リクエストする

  .event-show-container.px-0.px-sm-0
    最終更新日:
    = l @event.updated_at, format: :short
    (
    = time_ago_in_words(@event.updated_at) + "前"
    )
    .row
      .col-md-3
        .event-show-card
          .card
            .img-container
              - if @event.event_image.present?
                = image_tag @event.event_image
              - else
                = image_tag 'no_image'
            .card-body.text-container
              %h5.card-title
                = @event.event_name
              %hr
              %h6.card-subtitle
                [イベント作成者]
                %br
                .event-owner-img
                  = link_to public_customer_path(@owner), data: { 'turbolinks': false } do
                    - if @owner.profile_image.present?
                      = image_tag @owner.profile_image
                    - else
                      = image_tag 'no_image'
                    .owner-name
                      = @owner.name
              %hr
                .got-request-count
                  リクエスト数
                  %i.far.fa-comments
                  #got-request-count.count
                    = @event.requests.count
              %hr
              %p.card-text
              - if current_customer.can_edit_event?(@event)
                .mt-2
                  = link_to 'イベントの編集', edit_public_event_path(@event, community_id: @event.community_id), data: { 'turbolinks': false }, class: "btn btn-sm btn-info event-show-btn"
                  = link_to "コピーして新規作成", copy_public_event_path(@event), class: "btn btn-sm btn-info event-show-btn"

                  = render "shared/danger_zone_delete",
                    button_text: "イベント削除",
                    path: public_event_path(@event),
                    confirm_message: "このイベントを削除します。よろしいですか？"

                  %hr
                  = link_to '参加する🎵', '#event-songs', data: { 'turbolinks': false }, class: "btn btn-sm btn-info event-show-btn"
                  = link_to 'リクエストする🎵', '#event-request', data: { 'turbolinks': false }, class: "btn btn-sm btn-info event-show-btn"
              - else
                = link_to '参加する🎵', '#event-songs', data: { 'turbolinks': false }, class: "btn btn-sm btn-info event-show-btn"
                = link_to 'リクエストする🎵', '#event-request', data: { 'turbolinks': false }, class: "btn btn-sm btn-info event-show-btn"

      .col-md-9
        .table-responsive(style="width: 100%;")
          %table.table.table-striped.event-show-table{:border=>"1", style: "width: 100%;"}
            %colgroup
              %col{width: "19%"}
              %col{width: "81%"}
                %tr
                  %th{scope:"row"} 開催コミュニティ
                  %td
                    = @community.name
                    .text-red
                      ※このイベントは【#{@community.name}】に参加している必要があります。
                %tr
                  %th{scope:"row"} イベント名
                  %td
                    = @event.event_name
                - if @event.url.present?
                  %tr
                    %th{scope:"row"} 参考URL
                    %td
                      .event-url
                        - text = @event.url
                        = link_to text, @event.url, target: :_blank, rel: "noopener noreferrer", data: { 'turbolinks': false }
                        %hr
                        = @event.url_comment
                %tr
                  %th{scope:"row"} 開始時間
                  %td
                    %h4.font-weight-bold
                      <i class="far fa-clock"></i>
                      = l @event.event_start_time, format: :short
                %tr
                  %th{scope:"row"} 終了時間
                  %td
                    %h4.font-weight-bold
                      <i class="far fa-clock"></i>
                      = l @event.event_end_time, format: :short
                %tr
                  %th{scope:"row"} 参加費用
                  %td
                    %h5.font-weight-bold
                      <i class="fa-solid fa-sack-dollar"></i>
                      = @event.entrance_fee.to_s(:delimited) + "円"
                %tr
                  %th{scope:"row"} 開催場所
                  %td
                    %h5.font-weight-bold
                      <i class="fa-solid fa-earth-asia"></i>
                      = @event.place
                %tr
                  %th{scope:"row"} 開催場所（地図）
                  %td
                    .map-wrapper
                      #map
                %tr
                  %th{scope:"row"} 参加人数
                  %td
                    .font-weight-bold
                      <i class="fa-solid fa-people-group"></i>
                      #{@joined_member_counts}人
                - if @join_members.present?
                  %tr 
                    %th{scope:"row"} 参加メンバー
                    %td
                      .join-member-list
                        - @join_members.each do |customer|
                          = link_to public_customer_path(customer), class: 'image-style', data: { 'turbolinks': false } do
                            - if customer.profile_image.present?
                              = image_tag customer.profile_image, class: "icon_mini"
                            - else
                              = image_tag 'no_image', class: "icon_mini"
                            = customer.name
                          %br
                          %hr
                %tr
                  %th{scope:"row"} 成立楽曲数
                  %td
                    %h4.text-red
                      #{@complete_count}曲 成立!!
                    (全#{@event.songs.length}曲)
                - if @event.event_entry_deadline.present?
                  %tr
                    %th{scope:"row"} 参加締切日
                    %td
                      %h5.font-weight-bold
                        = l @event.event_entry_deadline, format: :short
                        まで
                %tr
                  %th{scope:"row"} 楽曲
                  %td{colspan: "100"}
                    = form_tag(public_event_join_confirm_path(@event), method: :get, id: 'join_btn', onSubmit: "return CheckJoin()") do
                      #event-songs.event-songs-join-form
                        %div{ style: "display: flex; justify-content: flex-start; align-items: center; margin-bottom: 12px;" }
                          %div{ style: "display: flex; align-items: center; gap: 12px;" }
                            %button.btn.btn-sm.btn-outline-info#help-popover{
                              type: "button",
                              data: {
                                toggle: "popover",
                                html: "true",
                                content: "①ご希望の「参加パート」にチェックを入れてください。（複数チェック可）<br><br>②「参加確認画面へ」のボタンを押して内容に間違いなければ「参加確定」してください。<br><br>③参加が確定すると楽曲一覧表にご自身のアイコンが表示されます。<br><br>※ご注意※<br>③で参加ができない場合：事前に「開催コミュニティ」へ参加申請を行って下さい。<br><br>【ご参考】<br>現在の参加メンバーは一覧表を右スクロールすると全体像が確認できます🎵",
                                placement: "bottom"
                              }
                            }
                              ?
                            %input#submit_join_form{
                              type: "submit",
                              value: "参加確認画面へ",
                              class: "btn btn-lg btn-primary",
                              style: "padding: 12px 32px; font-size: 1.2rem; min-width: 220px; white-space: nowrap;",
                              disabled: true,
                              data: {'disable_with': '送信中...', 'turbolinks': false}
                            }
                        
                        %div.filter-buttons{ style: "margin-bottom: 12px;" }
                          %button.btn.btn-outline-primary#filter-all(type="button") すべて表示
                          %button.btn.btn-outline-success#filter-complete(type="button") 楽曲成立
                          %button.btn.btn-outline-warning#filter-vacant(type="button") 募集中

                        %div.responsive-wrapper{ style: "position: relative;" }
                          %div.scroll-indicator{id: "scroll-indicator"} →
                          %div.responsive-box
                            - part_names = ["Vocal", "Guitar", "Bass", "Drums", "Keyboard", "Other"] 
                            %table.table.table-bordered.event-songs-table{ style: "min-width: 930px; table-layout: fixed;" }
                              %thead
                                %tr
                                  %th{ style: "width: 160px;" } 曲名 / ステータス
                                  %th{ style: "width: 160px;" } 参加フォーム
                                  - part_names.each do |part|
                                    %th{ style: "min-width: 90px;" }= part
                              %tbody
                                - @event.songs.each do |song|
                                  - vacant = song.join_parts.any? { |jp| jp.customers.count == 0 }
                                  %tr{ class: (vacant ? 'vacant' : 'complete') }
                                    %td{ style: "max-width: 120px; overflow-wrap: break-word; word-break: break-word; white-space: normal;" }
                                      - if vacant
                                        %span.badge.badge-warning 募集中!!
                                      - else
                                        %span.badge.badge-success 楽曲成立🎵
                                      %br
                                      %div{ style: "white-space: normal; word-break: break-word;" }
                                        = link_to song.song_name, public_event_song_path(@event, song), class: "song-detail-link", data: { turbolinks: false }

                                    %td
                                      .check-part-list
                                        - if @event.event_end_time > Time.now
                                          - song.join_parts.each do |part|
                                            .check-part-item(style="margin-bottom: 4px;")
                                              = label_tag "event_join_part_ids_#{part.id}" do
                                                = check_box_tag "event[join_part_ids][]", part.id, false, id: "event_join_part_ids_#{part.id}"
                                                = part.join_part_name
                                              = hidden_field_tag :event_id, @event.id
                                        - else
                                          終了イベントのためチェック不可

                                    - part_names.each do |part_name|
                                      - join_part = song.join_parts.find { |jp| jp.join_part_name == part_name }
                                      %td
                                        - if join_part.present?
                                          - if join_part.customers.any?
                                            - join_part.customers.each do |customer|
                                              .member-display(style="display:flex; flex-direction:column; align-items:flex-start; gap:4px; margin-bottom:4px;")
                                                = link_to public_customer_path(customer), data: { turbolinks: false } do
                                                  = image_tag(customer.profile_image.presence || 'no_image',
                                                              class: "icon_mini",
                                                              style: "width:24px; height:24px; border-radius:50%;")
                                                  = customer.name
                                                - if customer == current_customer && join_part.customers.include?(current_customer) && @event.event_start_time > Time.current + 7.days
                                                  = link_to "削除",
                                                    public_event_delete_path(@event, join_part_id: join_part.id, customer_id: customer.id),
                                                    method: :delete,
                                                    data: { confirm: "この参加をキャンセルしますか？" },
                                                    class: "btn btn-danger w-100"
                                          - else
                                            %span.text-danger 募集中
                                        - else
                                          ー
                %tr
                  %th{scope:"row"} イベント補足
                  %td
                    %div.markdown-body
                      = markdown(@event.introduction)

                - if @owner == current_customer
                  %tr
                    %th{scope:"row"} CSVダウンロード
                    %td
                      = link_to "参加一覧ダウンロード", public_event_path(@event, format: :csv), data: { 'turbolinks': false }, class: "btn btn-sm btn-info event-show-btn"
        #event-request.event-request
          - if @event.request_deadline.present?
            .event-request-deadline
              曲リクエスト締切日:
              %h5
                = l @event.request_deadline, format: :short
                まで
          = render 'public/requests/form', event: @event, request: @request
          #event-request-asy.request-part
            = render 'public/requests/requests', event: @event

  %div{type: "text/javascript"}
    :javascript
      function CheckJoin(){
        if(confirm("参加申請しますか？")){
          return true; 
        }else{
          alert('キャンセルされました'); 
          location.reload();
          return false; 
        }
      }

  - latitude = @latitude
  - longitude = @longitude
  - address = @address

  %div{type: "text/javascript"}
    :javascript
      function initMap() {
        var test = {lat: #{latitude}, lng: #{longitude}};
        var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 15, 
                  center: test
                  });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = "住所： #{address}";
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        var marker = new google.maps.Marker({
                      position:test,
                      map: map,
                      title: contentString
                      });

        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
  %script{async: "", defer: "defer", src: "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.map_api_key}&callback=initMap"}
  