= render 'layouts/admin_header_menu'

.container.py-4
  .d-flex.justify-content-between.align-items-center.mb-3
    %h2.mb-0 イベント一覧
    = link_to "新規登録", new_admin_event_path, class: "btn btn-primary"

  .table-responsive
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th ID
          %th イベント名
          %th コミュニティ
          %th 開始日時
          %th 終了日時
          %th 参加人数
          %th
      %tbody
        - @events.each do |event|
          %tr
            %th= event.id
            %td= event.event_name
            %td= event.community&.name
            %td= l(event.event_start_time, format: :short, default: '-')
            %td= l(event.event_end_time, format: :short, default: '-')
            %td
              :ruby
                joined_member_ids = []
                event.songs.each do |song|
                  song.join_parts.each do |join_part|
                    joined_member_ids += join_part.customers.pluck(:id)
                  end
                end
                joined_member_counts = joined_member_ids.uniq.length
              #{joined_member_counts}人
            %td.text-nowrap
              = link_to "詳細", admin_event_path(event), data: { 'turbolinks': false }, class: "btn btn-sm btn-outline-primary"
              = link_to "編集", edit_admin_event_path(event), data: { 'turbolinks': false }, class: "btn btn-sm btn-outline-success"
              = link_to "削除", admin_event_path(event), method: :delete, data: { confirm: "こちらのイベントを削除してもよろしいですか？", 'turbolinks': false }, class: "btn btn-sm btn-outline-danger"
