= render 'layouts/header_menu'

.song-detail-container.container.mt-4
  %h2.text-center 🎵 楽曲詳細：#{@song.song_name}
  %hr

  - if @song.youtube_url.present?
    .video-wrapper.mb-4
      %iframe{
        width: "100%",
        height: "315",
        src: "https://www.youtube.com/embed/#{extract_youtube_id(@song.youtube_url)}",
        frameborder: "0",
        allowfullscreen: true
      }

  %table.table.table-striped.table-bordered
    %tr
      %th 曲名
      %td= @song.song_name

    %tr
      %th 演奏時間
      %td= @song.performance_time.presence || "未設定"

    %tr
      %th 演奏開始時間
      %td= @song.performance_start_time.presence || "未設定"

    %tr
      %th 所属イベント
      %td
        = link_to @event.event_name, public_event_path(@event), data: { turbolinks: false }

    - if @song.introduction.present?
      %tr
        %th 楽曲紹介
        %td= simple_format(@song.introduction)

    %tr
      %th YouTube URL
      %td
        - if @song.youtube_url.present?
          = link_to @song.youtube_url, @song.youtube_url, target: "_blank", rel: "noopener", data: { turbolinks: false }
        - else
          なし
    %tr
      %th{scope: "row"} 紹介文
      %td
        - if @song.introduction.present?
          = simple_format(@song.introduction)
        - else
          %em 紹介文はまだ登録されていません。

    %tr
      %th 登録日
      %td= l @song.created_at, format: :short

    %tr
      %th 最終更新日
      %td= l @song.updated_at, format: :short

  .mt-4.mb-5
    = link_to '← イベントページに戻る', public_event_path(@event), class: 'btn btn-secondary'
