.domain-auth{ class: domain_auth_config[:theme_class] }
  .domain-auth__card
    .domain-auth__brand
      %span.domain-auth__logo BeMyStyle
      %span.domain-auth__domain= domain_auth_config[:domain_label]

    %h1.domain-auth__title= domain_auth_config[:password_title]
    %p.domain-auth__lead= domain_auth_config[:password_lead]

    = form_for resource, as: resource_name, url: public_send(domain_auth_config[:password_create_route]), html: { method: :post } do |f|
      = render "public/shared/error_messages", resource: resource

      .domain-auth__field
        %label.domain-auth__label メールアドレス
        = f.email_field :email,
          autofocus: true,
          autocomplete: "email",
          class: "domain-auth__input form-control"

      = f.submit "リセット用メールを送信", class: "domain-auth__submit btn"

    .domain-auth__links
      = render "shared/domain_auth/links"
