.domain-auth{ class: domain_auth_config[:theme_class] }
  .domain-auth__card
    .domain-auth__brand
      %span.domain-auth__logo BeMyStyle
      %span.domain-auth__domain= domain_auth_config[:domain_label]

    %h1.domain-auth__title= domain_auth_config[:session_title]
    %p.domain-auth__lead= domain_auth_config[:session_lead]

    = form_with model: @customer, url: public_send(domain_auth_config[:session_route]), local: true do |f|
      = render "public/shared/error_messages", resource: f.object

      .domain-auth__field
        %label.domain-auth__label メールアドレス
        = f.email_field :email,
          autofocus: true,
          autocomplete: "email",
          class: "domain-auth__input form-control"

      .domain-auth__field
        %label.domain-auth__label パスワード
        = f.password_field :password,
          autocomplete: "current-password",
          class: "domain-auth__input form-control"

      - if devise_mapping.rememberable?
        .domain-auth__remember
          = f.check_box :remember_me, class: "domain-auth__checkbox"
          = f.label :remember_me, "ログイン状態を保存する"

      = f.submit "ログインする", class: "domain-auth__submit btn"

    .domain-auth__links
      = render "shared/domain_auth/links"

    - if domain_auth_config[:back_label].present?
      .domain-auth__back
        = link_to domain_auth_config[:back_label], public_send(domain_auth_config[:back_route]), class: "domain-auth__back-link"
