= render 'layouts/header_menu_nakama'

.container.post-show-container

  .post-card

    .post-header

      .post-user-info

        = link_to business_customer_path(@post.customer) do
          = customer_avatar_tag(@post.customer, class_name: "user-icon")

        .user-meta

          = link_to @post.customer.name,
            business_customer_path(@post.customer),
            class:"user-name"

          .post-time
            = time_ago_in_words(@post.created_at)
            前

    .post-actions

      - if @post.customer == current_customer

        = link_to "編集",
          edit_business_post_path(@post),
          class:"btn btn-primary"

        = link_to "削除",
          business_post_path(@post),
          method: :delete,
          data: { confirm: "削除しますか？" },
          class:"btn btn-danger"

    - if @post.tags.any?
      .post-tags
        - @post.tags.each do |tag|
          = link_to "##{tag.name}",
            business_posts_path(tag: tag.name),
            class:"tag"

    .post-body
      .markdown-body= markdown(@post.body)

    - if @post.post_image.attached?
      .post-image-wrapper
        = image_tag @post.post_image, class:"post-image"

    .post-actions
      = render "business/likes/like", post: @post


  .comment-section

    %h3 コメント

    %div{id: "comments_#{@post.id}", class:"comments-list"}

      - @post.messages.each do |message|
        = render "business/messages/message", message: message

    .comment-form

      = form_with model: [:business, @post, Message.new], remote: true do |f|

        = f.text_field :body,
          placeholder:"コメントを書く...",
          id:"comment_body",
          class:"comment-input"

        = f.submit "送信", class:"comment-submit"
      .stamp-picker
        - stamp_options.each do |stamp_type, label|
          = form_with model: [:business, @post, Message.new], remote: true, html: { class: "stamp-picker-form" } do |f|
            = f.hidden_field :stamp_type, value: stamp_type
            = f.submit label, class: "stamp-button"
