= render 'layouts/header_menu'

.top-container
  .slider
    = image_tag 'public-top.jpg' ,class:"images"
    = image_tag 'public-top2.jpg' ,class:"images"
    = image_tag 'public-top3.jpg' ,class:"images"
    = image_tag 'public-top4.jpg' ,class:"images"
    = image_tag 'public-top5.jpg' ,class:"images"
