= render 'layouts/header_menu'

.chat-rooms-show-container{ data: { "mention-candidates-url" => community_mention_candidates_public_chat_rooms_path(community_id: @community.id),
    "current-customer-id" => current_customer.id,
    "thread-url-template" => thread_public_chat_message_path(id: "__ID__"),
    "thread-reply-url-template" => thread_reply_public_chat_message_path(id: "__ID__"),
    "search-url" => search_public_chat_room_path(@chat_room),
    "pins-url" => pins_public_chat_room_path(@chat_room),
    "pin-url-template" => pin_public_chat_message_path(id: "__ID__") } }
  .chat-rooms-header
    %h6 コミュニティチャットルームへようこそ!

  .row
    .col-md-3
      .partner-index-container
        %p コミュニティ参加人数
        %strong
          = @customers.size.to_s + '人'
        - @customers.each do |customer|
          .form-inline
            %span
              = link_to public_customer_path(customer), method: :get do
                = customer_avatar_tag(customer, class_name: "icon_mini")
                %strong.do-chat
                  = customer.name + 'さん🎵'
            %hr


    .col-md-6
      %button.chat-search-trigger{ type: "button", "aria-label" => "メッセージを検索" }
        %span.chat-search-trigger-icon 🔍
        %span.chat-search-trigger-label メッセージを検索
      %button.chat-pin-trigger{ type: "button", "aria-label" => "ピン留め一覧を開く" }
        %span.chat-pin-trigger-icon 📌
        %span.chat-pin-trigger-label ピン留め一覧
      .message-container#chat-area
        - @chat_messages.each do |chat_message|
          = render 'message', chat_message: chat_message, community: @community
      = render 'form', chat_message: @chat_message, chat_room: @chat_room, form_url: community_create_public_chat_messages_path

    .col-md-3
      .partner-container
        %p 今、チャットしているコミュニティ
        .card
          = link_to public_community_path(@community) do
            .img-container
              - if @community.community_image.present?
                = image_tag @community.community_image
              - else
                = image_tag 'no_image'
          .card-body.text-container
            %h5.card-title
              = @community.name
            %h6.card-subtitle
              参加人数:
              = @community.customers.count.to_s + "人"
            %hr
            = link_to 'コミュニティ詳細へ', public_community_path(@community), class: "btn btn-info chat-partner-link", data: { 'turbolinks': false }

  = render "public/chat_rooms/thread_panel_shell"
  = render "public/chat_rooms/search_panel_shell"
  = render "public/chat_rooms/pin_panel_shell"
