= render 'layouts/header_menu'

.chat-rooms-show-container{ data: { "mention-candidates-url" => mention_candidates_public_chat_room_path(@chat_room),
    "current-customer-id" => current_customer.id,
    "thread-url-template" => thread_public_chat_message_path(id: "__ID__"),
    "thread-reply-url-template" => thread_reply_public_chat_message_path(id: "__ID__"),
    "search-url" => search_public_chat_room_path(@chat_room),
    "pins-url" => pins_public_chat_room_path(@chat_room),
    "pin-url-template" => pin_public_chat_message_path(id: "__ID__") } }
  .chat-rooms-header
    %h4 チャットルームへようこそ!

  .row
    .col-md-3
      .partner-index-container
        %p 個別チャットができるアーティスト
        %strong
          = @mathing_customers.size.to_s + '人'
        - @mathing_customers.each do |matching_customer|
          .form-inline
            %span
              = link_to public_chat_rooms_path(customer_id: matching_customer.id), method: :post do
                = customer_avatar_tag(matching_customer, class_name: "icon_mini")
                %strong.do-chat
                  = matching_customer.name + 'さんと チャット🎵'
            %hr


    .col-md-6
      %button.chat-search-trigger{ type: "button", "aria-label" => "メッセージを検索" }
        %span.chat-search-trigger-icon 🔍
        %span.chat-search-trigger-label メッセージを検索
      %button.chat-pin-trigger{ type: "button", "aria-label" => "ピン留め一覧を開く" }
        %span.chat-pin-trigger-icon 📌
        %span.chat-pin-trigger-label ピン留め一覧
      .message-container#chat-area
        - event_previews_by_id = Chat::EventLinkPreviewLoader.call(@chat_messages)
        - @chat_messages.each do |chat_message|
          = render 'message', chat_message: chat_message, event_previews_by_id: event_previews_by_id
      = render 'form', chat_message: @chat_message, chat_room: @chat_room, form_url: public_chat_messages_path, customer_id: @chat_room_customer.id

    .col-md-3
      .partner-container
        %p 今、チャットしているお相手
        .card
          = link_to public_customer_path(@chat_room_customer) do
            .img-container
              = customer_avatar_tag(@chat_room_customer)
          .card-body.text-container
            %h5.card-title
              = @chat_room_customer.human_attribute_enum(:name)
            %h6.card-subtitle
              Part:
              - @chat_room_customer.parts.each do |part|
                %i.fa-solid.fa-music
                = part.name
            %hr
            %p.card-text
              = @chat_room_customer.human_attribute_enum(:introduction)
            = link_to 'プロフィール画面へ', public_customer_path(@chat_room_customer.id), class: "btn btn-info chat-partner-link", data: { 'turbolinks': false }

  = render "public/chat_rooms/thread_panel_shell"
  = render "public/chat_rooms/search_panel_shell"
  = render "public/chat_rooms/pin_panel_shell"
