= render 'layouts/header_menu'

.community-index-head-title
  .directory-page-heading
    %p.directory-page-heading__eyebrow Community
    %h2 コミュニティ一覧
    %p.directory-page-heading__lead
      音楽仲間が集まる場所を見つけて、気になるコミュニティに参加してみましょう。

  - if feature_available?(:music_community_create)
    .directory-page-action
      = link_to "コミュニティ作成",
        new_public_community_path,
        class: "btn btn-info community-index-create-btn"
  - else
    .directory-upgrade-panel
      = render "shared/feature_gate",
        feature_key: :music_community_create,
        title: "コミュニティ作成ボタン",
        message: "コミュニティ作成ボタンはPremiumプラン契約で解放されます。あなたのテーマで新しい場をつくれます。",
        class_name: "feature-gate--inline"

.directory-search
  = form_with url: public_communities_path, method: :get, local: true, class: "directory-search__form" do
    = text_field_tag :keyword, params[:keyword], placeholder: "コミュニティ名・紹介・好きなアーティストで検索", class: "directory-search__input"
    = select_tag :prefecture_id, options_for_select([["活動場所", ""]] + prefecture_options_for_select, params[:prefecture_id]), class: "directory-search__select"
    = select_tag :activity_stance, options_for_select([["活動ペース", ""]] + community_activity_stance_options, params[:activity_stance]), class: "directory-search__select"
    = select_tag :genre_id, options_from_collection_for_select(Genre.order(:name), :id, :name, params[:genre_id]), include_blank: "ジャンル", class: "directory-search__select"
    = select_tag :sort, options_for_select(community_sort_options, params[:sort].presence || "members_desc"), class: "directory-search__select"
    = submit_tag "検索する", class: "btn btn-info directory-search__submit"
    = link_to "リセット", public_communities_path, class: "btn btn-outline-secondary directory-search__reset"

.communities-kaminari
  = paginate @communities
.community-toc.d-sm-none
  .community-toc-title コミュニティ目次
  %ul
    - @communities.each do |community|
      %li
        🎵
        = link_to community.name, "#community-#{community.id}", class: "text-decoration-none"

.community-index-container
  - @communities.each do |community|
    - @owner = Customer.find_by(id: community.owner_id)
    .card.mb-5{id: "community-#{community.id}"}
      = link_to public_community_path(community), data: { 'turbolinks': false } do
        .img-container
          - if community.community_image.attached?
            = image_tag url_for(community.community_image)
          - else
            = image_tag 'no_image'
      .card-body.text-container
        %h5.card-title
          = link_to community.name, public_community_path(community), data: { 'turbolinks': false }
        %h6.card-subtitle
          参加人数
          = community.customers.count.to_s + "人"
          %hr
          [コミュニティオーナー]
          %br
          .community-owner-img
            = link_to public_customer_path(@owner), data: { 'turbolinks': false } do
              = customer_avatar_tag(@owner)
              .owner-name
                = @owner.name
        %hr
        .community-show-link-area
          = link_to "コミュニティ詳細へ", public_community_path(community), class: "btn-info community-show-link", data: { 'turbolinks': false }
        %hr
        .community-action-btn
          - if community.owner_id == current_customer.id
            = link_to '編集する', edit_public_community_path(community), data: { 'turbolinks': false }, class: "btn btn-success"
          - elsif community.customers.include?(current_customer)
            = link_to 'コミュニティを退会', public_community_leave_path(community), method: :delete, class: "btn btn-danger", data: { confirm: 'こちらのコミュニティを抜けます。よろしいですか？' }
          - elsif community.permits.exists?(customer_id: current_customer.id)
            = link_to '参加申請の取消', public_community_permits_path(community), method: :delete, class: "btn btn-danger", data: { 'turbolinks': false, confirm: 'こちらのコミュニティの参加申請を取消します。よろしいですか？' }
          - else
            = link_to '参加を申請する', public_community_permits_path(community), method: :post, class: "btn btn-success", data: { 'turbolinks': false, confirm: 'こちらのコミュニティに参加申請をします。よろしいですか？' }
        %hr
        %p.card-text
          [活動場所]
          = community.prefecture.name if community.prefecture.present?
          %hr
          [活動ペース]
          = community.human_attribute_enum(:activity_stance)
