- requests = event.requests.order(created_at: :desc)

- requests.each do |request|
  .request-content
    .request-image
      = link_to public_customer_path(request.customer), data: { 'turbolinks': false } do
        = customer_avatar_tag(request.customer, class_name: "icon_mini")
    .request-info
      .request-upper
        .request-name
          = link_to request.customer.name, public_customer_path(request.customer), data: { 'turbolinks': false }
        .request-time
          = time_ago_in_words(request.created_at) + "前"
        .request-delete
          - if request.customer == current_customer
            = link_to '削除', public_event_request_path(request.event, request), method: :delete, remote: true, class: "btn btn-danger", data: { 'turbolinks': false, confirm: "本当に削除しますか？" }
      .request-beneath
        - if request.stamped?
          %span.stamp-badge= request.stamp_label
        - else
          = request.request
        %br
