- requests = event.requests.order(created_at: :desc)

- requests.each do |request|
  .request-content
    .request-image
      = link_to public_customer_path(request.customer), data: { 'turbolinks': false } do
        - if request.customer.profile_image.present?
          = image_tag request.customer.profile_image, class: "icon_mini"
        - else
          = image_tag 'no_image', class: "icon_mini"
    .request-info
      .request-upper
        .request-name
          = link_to request.customer.name, public_customer_path(request.customer), data: { 'turbolinks': false }
        .request-time
          = time_ago_in_words(request.created_at) + "前"
        .request-delete
          - if request.customer == current_customer
            = link_to '削除', public_event_request_path(request.event, request), method: :delete, remote: true, class: "btn btn-danger", data: { 'turbolinks': false, confirm: "本当に削除しますか？" }
      .request-beneath
        = request.request
        %br