= form_with model: [:public, activity], local: true do |f|
  .activity-new-edit-container.px-0.px-sm-0
    %table.table.table-striped.activity-new-edit-table{:width=>"100%",:border=>"1"}
      %colgroup
        %col{width: "19%"}
        %col{width: "81%"}
          %tr
            %th{scope:"row"} 活動報告「画像」
            %td
              = f.file_field :activity_image, accept: 'image/*'
              %span.text-red ※TOPのイメージ画像になります。
              #new-activity-image
              #edit-activity-image
          %tr
            %th{scope:"row"} 活動報告「動画」
            %td
              = f.file_field :activity_video
              %span.text-red ※動画は「10MB」までとなります。
          %tr
            %th{scope:"row"} 活動報告「タイトル」
            %td
              = f.text_field :title
              %span.text-red (必須)
          %tr
            %th{scope:"row"} やって良かった事
            %td
              = f.text_field :keep
              %span.text-red (必須)
          %tr
            %th{scope:"row"} 失敗した事
            %td
              = f.text_field :problem
              %span.text-red (必須)
          %tr
            %th{scope:"row"} 次回挑戦したい事
            %td
              = f.text_field :try
              %span.text-red (必須)
          %tr
            %th{scope:"row"} 活動報告「詳細」
            %td
              = f.text_area :introduction, style: "width:90%"
          = f.submit "活動報告を作成", class: "btn btn-info activity-new-edit-btn", data: { confirm: 'こちらの内容で登録します。よろしいですか？' }