= form_with model: [:public, activity], local: true do |f|
  .activity-new-edit-container.px-0.px-sm-0
    %table.table.table-striped.activity-new-edit-table{:width=>"100%",:border=>"1"}
      %colgroup
        %col{width: "10%"}
        %col{width: "70%"}
          %tr
            %th{scope:"row"} 活動報告「画像」
            %td
              = f.file_field :activity_image, accept: 'image/*'
              %span [Point]TOPのイメージ画像になります。
              #new-activity-image
              #edit-activity-image
          %tr
            %th{scope:"row"} 活動報告「Youtube動画」
            %td
              = f.text_field :youtube_url, placeholder: 'youtubeの動画URL（上部アドレスバーのURL）を記載', class: 'form-control'
              %span ※注意※Youtubeショート動画は添付できません。
          %tr
            %th{scope:"row"} 参考URL
            %td
              = f.text_field :url, placeholder: "活動報告に関連するURLを記入します", class: 'form-control'
          %tr
            %th{scope:"row"} URLの説明
            %td
              = f.text_field :url_comment, placeholder: "URLの説明を記入します", class: 'form-control'
          %tr
            %th{scope:"row"}
              活動報告「タイトル」
              %i.text-red
                (必須)
            %td
              = f.text_field :title, class: 'form-control'
          %tr
            %th{scope:"row"}
              やって良かった事
              %i.text-red
                (必須)
            %td
              = f.text_field :keep, class: 'form-control'
          %tr
            %th{scope:"row"}
              失敗した事
              %i.text-red
                (必須)
            %td
              = f.text_field :problem, class: 'form-control'
          %tr
            %th{scope:"row"}
              次回挑戦したい事
              %i.text-red
                (必須)
            %td
              = f.text_field :try, class: 'form-control'
          %tr
            %th{scope:"row"} 活動報告「詳細」
            %td
              :ruby
                text = <<'EOS'
                （記述例）
                活動場所＝東京都渋谷区
                活動内容＝スタジオで「○○」の曲をセッション演奏
                活動時間＝19:00~21:00
                活動してみての感想
                みんなが知っている課題曲だったので、気軽に参加できた！
                次は、私からも１曲リクエストしてみようと思います。
                EOS
              = f.text_area :introduction, placeholder: text, rows: "10", style: "width:90%", class: 'form-control'
          = f.submit "活動報告を登録", class: "btn btn-info activity-new-edit-btn", data: { confirm: 'こちらの内容で登録します。よろしいですか？' }