= render 'layouts/header_menu'

.activity-index-head-title
  .directory-page-heading
    %p.directory-page-heading__eyebrow Activities
    %h2 みんなの活動報告一覧
    %p.directory-page-heading__lead
      セッションの記録や練習の気づきを見つけて、音楽仲間との会話のきっかけにしましょう。
  - if feature_available?(:music_activity_create)
    .directory-page-action
      = link_to "活動報告を投稿する", new_public_activity_path, data: { 'turbolinks': false }, class: "btn btn-info activity-index-create-btn"
  - else
    .directory-upgrade-panel
      = render "shared/feature_gate",
        feature_key: :music_activity_create,
        title: "活動報告の投稿ボタン",
        message: "活動報告の投稿はLightプラン契約で解放されます。あなたの活動を仲間に届けましょう。",
        cta: "lightで投稿を始める",
        class_name: "feature-gate--inline"

.directory-search
  = form_with url: public_activities_path, method: :get, local: true, class: "directory-search__form" do
    = text_field_tag :keyword, params[:keyword], placeholder: "タイトル・KPT・紹介文で検索", class: "directory-search__input"
    = text_field_tag :author, params[:author], placeholder: "投稿者名で検索", class: "directory-search__input"
    = select_tag :sort, options_for_select(activity_sort_options, params[:sort].presence || "newest"), class: "directory-search__select"
    = submit_tag "検索する", class: "btn btn-info directory-search__submit"
    = link_to "リセット", public_activities_path, class: "btn btn-outline-secondary directory-search__reset"
.activities-kaminari
  = paginate @activities
- if @activities.present?
  %nav.activity-toc.d-sm-none
    %h4.activity-toc-title 📝 目次
    %ul
      - @activities.each_with_index do |activity, index|
        %li
          🎤
          %a{href: "#activity-#{index}"}= truncate(activity.title, length: 20)

.activity-index-container
  - if @activities.present?
    - @activities.each_with_index do |activity, index|
      - activity_id = activity.id
      .card.mb-5{id: "activity-#{index}"}
        - if time_ago_in_words(activity.created_at) =~ /分|時間/
          .new_activity
            NEW!!
        = link_to public_activity_path(activity), data: { 'turbolinks': false } do
          .img-container
            - if activity.activity_image.present?
              = image_tag activity.activity_image
            - else
              = image_tag 'no_image'
        .card-body.text-container
          %h5.card-title#title-js
            - if activity.title.length > 13
              .title-truncated
                = link_to activity.title.truncate(13), public_activity_path(activity), data: { 'turbolinks': false }
                %p.text-red.title-see-more もっと見る
              .title-untruncated.hide
                = link_to activity.title, public_activity_path(activity), data: { 'turbolinks': false }
            - else
              = link_to activity.title, public_activity_path(activity), data: { 'turbolinks': false }
          %h6.card-subtitle#kpt
            %span.kpt-keep Keep
            - if activity.keep.length > 13
              .keep-truncated
                = activity.keep.truncate(13)
                %p.keep-see-more もっと見る
              .keep-untruncated.hide
                = activity.keep
            - else
              = activity.keep
              %br
              %br
            %span.kpt-problem Problem
            - if activity.problem.length > 13
              .problem-truncated
                = activity.problem.truncate(13)
                %p.problem-see-more もっと見る
              .problem-untruncated.hide
                = activity.problem
            - else
              = activity.problem
              %br
              %br
            %span.kpt-try Try
            - if activity.try.length > 13
              .try-truncated
                = activity.try.truncate(13)
                %p.try-see-more もっと見る
              .try-untruncated.hide
                = activity.try
            - else
              = activity.try
              %br
              %br
          %hr
          .activity-show-link-area
            = link_to "活動報告詳細へ", public_activity_path(activity), class: "btn-info activity-show-link", data: { 'turbolinks': false }
          %hr
          %p.card-text
            [投稿者]
            = link_to activity.customer.name, public_customer_path(activity.customer), data: { 'turbolinks': false }
          %hr
          [投稿日]
          = time_ago_in_words(activity.created_at) + "前"
          %hr
          %div{id: "favorite_buttons_#{activity_id}"}
            = render "public/favorites/favorite", activity: activity
  - else
    まだ投稿記事はありません。
