= render 'layouts/header_menu'

.activity-index-head-title
  %h2 皆んなの活動報告一覧
  = link_to "活動報告をする！", new_public_activity_path, data: { 'turbolinks': false }, class: "btn btn-info activity-index-create-btn"
.activity-index-container
  - if @activities.present?
    - @activities.each do |community|
      .card.mb-5
        = link_to public_activity_path(activity), data: { 'turbolinks': false } do
          .img-container
            - if activity.activity_image.present?
              = image_tag activity.activity_image
            - else
              = image_tag 'no_image'
        .card-body.text-container
          %h5.card-title
            = link_to activity.title, public_activity_path(activity), data: { 'turbolinks': false }
          %h6.card-subtitle
            やって良かった事
            = activity.keep
            %hr
            反省&改善点
            = activity.problem
            %hr
            次回挑戦したい事
            = activity.try
            %hr
          %hr
          .activity-show-link-area
            = link_to "活動報告詳細へ", public_activity_path(activity), class: "btn-info activity-show-link", data: { 'turbolinks': false }
          - if activity.customer_id == current_customer.id
            %hr
            .activity-action-btn
              = link_to '編集する', edit_public_activity_path(activity), data: { 'turbolinks': false }, class: "btn btn-success"
              = link_to '削除する', public_activity_path(activity), method: :delete, data: { 'turbolinks': false }, class: "btn btn-danger"
          %hr
          %p.card-text
            [紹介文]
            = activity.introduction
  - else
    まだ投稿記事はありません。