= render 'layouts/header_menu'

.activity-show-title
  %h2 音楽活動ログ
  .activity-show-follow
    %div{id: "favorite_buttons_#{@activity.id}"}
      = render "public/favorites/favorite", activity: @activity
    .activity-comment-icon
      = link_to '#activity-comment', class: "comment-icon-text", data: { 'turbolinks': false } do
        %i.far.fa-comments.comment-icon
        コメントする

.activity-show-container.px-0.px-sm-0
  .row
    .col-md-3
      .activity-show-card
        .card
          .img-container
            - if @activity.activity_image.present?
              = image_tag @activity.activity_image
            - else
              = image_tag 'no_image'
          .card-body.text-container
            %h5.card-title
              = @activity.title
            %hr
            %h6.card-subtitle
              .activity-show-author-block
                = link_to public_customer_path(@activity.customer), data: { 'turbolinks': false } do
                  .activity-owner-img
                    = customer_avatar_tag(@activity.customer)
                    .activity-name
                      = @activity.customer.name
                - unless @activity.customer.plan == "free"
                  %span.activity-show-plan-badge{ class: customer_plan_badge_class(@activity.customer) }
                    = customer_plan_label(@activity.customer)
              %hr
              .activity-show-reaction-row
                %span.activity-show-reaction-label 応援リアクション
                .activity-show-reactions
                  - [["fire", "🔥", "熱い！"], ["clap", "👏", "いいね！"], ["guitar", "🎸", "ギタリスト！"], ["mic", "🎤", "歌声！"]].each do |type, emoji, label|
                    - reaction_count = @activity.activity_reactions.count { |r| r.reaction_type == type }
                    - already_reacted = customer_signed_in? && @activity.activity_reactions.any? { |r| r.reaction_type == type && r.customer_id == current_customer.id }
                    - reaction_url = public_activity_reactions_path(@activity, reaction_type: type)
                    %button.activity-reaction-btn{ title: label, "data-reaction-url": reaction_url, class: (already_reacted ? "activity-reaction-btn--active" : "") }
                      = emoji
                      - if reaction_count > 0
                        %span.reaction-count= reaction_count
              %hr
              [パート]
              %br
              - @activity.customer.parts.each do |part|
                🎵
                = part.name
              %hr
              [投稿日]
              = time_ago_in_words(@activity.created_at) + "前"
            %hr
            .got-favorite-count
              いいね数
              %i.fa-solid.fa-heart
              #got-favorite-count.count
                = @activity.favorites.count
            .got-comment-count
              コメント数
              %i.far.fa-comments
              #got-comment-count.count
                = @activity.comments.count

    .col-md-9
      %table.table.table-striped.activity-show-table{:width=>"100%",:border=>"1"}
        %colgroup
          %col{width: "19%"}
          %col{width: "81%"}
            %tr
              %th{scope:"row"} 活動報告タイトル
              %td
                = @activity.title
            %tr
              %th{scope:"row"} 活動報告動画
              %td
                - if @activity.youtube_url.present?
                  - if @activity.youtube_url.include?("youtube")
                    %iframe{
                      src: "https://www.youtube.com/embed/#{@activity.youtube_url[32..42]}",
                      allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture",
                      allowfullscreen: "",
                      frameborder: "0",
                      height: "315",
                      width: "90%"
                    }
                  - else
                    %iframe{
                      src: "https://www.youtube.com/embed/#{@activity.youtube_url.slice(17,11)}",
                      allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture",
                      allowfullscreen: "",
                      frameborder: "0",
                      height: "315",
                      width: "90%"
                    }
                - else
                  投稿された動画はありません。
            - if @activity.url.present?
              %tr
                %th{scope:"row"} 参考URL
                %td
                  .event-url
                    - text = @activity.url
                    = link_to text, @activity.url, target: :_blank, rel: "noopener noreferrer", data: { 'turbolinks': false }
                    %hr
                    = @activity.url_comment
            %tr
              %th{scope:"row"} やって良かった事
              %td
                %span.kpt-keep Keep
                = @activity.keep
            %tr
              %th{scope:"row"} 失敗した事
              %td
                %span.kpt-problem Problem
                = @activity.problem
            %tr
              %th{scope:"row"} 次挑戦したい事
              %td
                %span.kpt-try Try
                = @activity.try
            %tr
              %th{scope:"row"} 活動報告詳細紹介
              %td
                %div.markdown-body
                  = markdown(@activity.introduction)
            %tr
              %th{scope:"row"} 所属コミュニティ
              %td
                - if @activity.customer.communities.present?
                  - @activity.customer.communities.each do |community|
                    %span 🎵
                    = community.name
                    %br
                - else
                  所属コミュニティはありません。
      #activity-comment.activity-comment
        = render 'public/comments/form', activity: @activity, comment: @comment
        #activity-comment-asy.comment-part
          = render 'public/comments/comments', activity: @activity
