.singing-users-index
  .singing-users-index__header
    %p.singing-users-index__kicker Community
    %h1.singing-users-index__title= @discovery.circle_name
    %p.singing-users-index__description= @discovery.circle_description

  - if @profile_cards.present?
    .singing-users-index__grid
      - @profile_cards.each do |card|
        = link_to singing_user_path(card.customer), class: "singing-users-index__card" do
          .singing-users-index__avatar
            = customer_avatar_tag(card.customer, class_name: "singing-users-index__avatar-img", fallback: "no_image")
          .singing-users-index__body
            %strong.singing-users-index__name= card.display_name
            %span.singing-users-index__growth-type= "#{card.growth_type_icon} #{card.growth_type_label}"
            %p.singing-users-index__activity= card.latest_activity_label
  - else
    .singing-users-index__empty
      %p.singing-users-index__empty-title= @discovery.empty_title
      %p.singing-users-index__empty-message= @discovery.empty_message
      = link_to "診断してみる", new_singing_diagnosis_path, class: "singing-users-index__empty-cta"

  .singing-users-index__footer
    = link_to "ランキングへ", singing_rankings_path, class: "singing-users-index__link"
