.devise-container.px-0.px-sm-0
  .devise-sign-up-header
    .row
      .col-5-md
        %h2 新規登録
      .col-7-md.shared-link
        = render "public/shared/links"
  
  = form_with model: @customer, url: customer_registration_path, local: true do |f|
    = render 'public/shared/error_messages', model:f.object
    %table.table.table-striped.registration-table{:width=>"100%",:border=>"1"}
      %colgroup
        %col{width: "19%"}
        %col{width: "81%"}
          %tr
            %th{scope:"row"} メールアドレス
            %td
              = f.email_field :email, autofocus: true, autocomplete: "email"
              %i.text-red (必須)
          %tr
            %th{scope:"row"} パスワード
            %td
              - if @minimum_password_length
                %em
                  (半角 #{@minimum_password_length} 文字以上で入力してください。)
              %br/
              = f.password_field :password, autocomplete: "new-password"
              %i.text-red (必須)
          %tr
            %th{scope:"row"} パスワード(確認)
            %td
              = f.password_field :password_confirmation, autocomplete: "new-password"
              %i.text-red (必須)
          %tr
            %th{scope:"row"} 画像
            %td
              = f.file_field :profile_image, accept: 'image/*'
              #registration-image
          %tr
            %th{scope:"row"} ニックネーム
            %td
              = f.text_field :name
              %i.text-red (必須)
          %tr
            %th{scope:"row"} 性別
            %td
              = f.select :sex, Customer.enum_options_for_select(:sex)
          %tr
            %th{scope:"row"} 誕生日
            %td
              = f.date_field :birthday
          %tr
            %th{scope:"row"} パート
            %td
              = f.collection_check_boxes(:part_ids, Part.all, :id, :name) do |tag|
                = tag.label do
                  = tag.check_box
                  = tag.text
              %i.text-red.block ※パートの入力(チェック)必須
          %tr
            %th{scope:"row"} 活動場所
            %td 
              = f.collection_select :prefecture_id, Prefecture.all, :id, :name
          %tr
            %th{scope:"row"} 活動ペース
            %td
              = f.select :activity_stance, Customer.enum_options_for_select(:activity_stance)
          %tr
            %th{scope:"row"} 好きなジャンル
            %td
              = f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) do |genre|
                = genre.label do
                  = genre.check_box
                  = genre.text
          %tr
            %th{:rowspan => 5} 好きなアーティスト
            %td
              = f.text_field :favorite_artist1, style: "width:90%"
          %tr
            %td
              = f.text_field :favorite_artist2, style: "width:90%"
          %tr
            %td
              = f.text_field :favorite_artist3, style: "width:90%"
          %tr
            %td
              = f.text_field :favorite_artist4, style: "width:90%"
          %tr
            %td
              = f.text_field :favorite_artist5, style: "width:90%"
          %tr
            %th{scope:"row"} 作品URL
            %td
              = f.text_field :url, style: "width:90%"
              %i.block ※「youtube」や「HP」「SNS」のURLを記入する事ができます。
          %tr
            %th{scope:"row"} 自己紹介
            %td
              = f.text_area :introduction, style: "width:90%"
          .actions
            = f.submit "新規登録する", class: "btn btn-info registration-btn", data: { confirm: 'こちらの内容で更新します。よろしいですか？' }
