===============================================
%br
#{@ac_customer.name}さんがプロジェクトにコメントしました😊🎶
%br
%br
「コメント内容」
%br
#{@project_chat.body}
%br
%br
⬇️コメントが届いたプロジェクトはこちら⬇️
%br
#{@project.title}
%br
「#{@project_url}」
%br
===============================================
%br
%br
プロジェクトページで会話の流れや最新状況を確認できます😊
%br
必要ならそのまま返信して、企画を前に進めましょう🎵
%br
%br
Thank you for useing NAKAMA🎵
%br
%br
%br
🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵
%br
メール通知を停止は「マイページ」より設定変更頂けます。
%br
「マイページ」
%br
#{@business_mypage}
