===============================================
%br
#{@ac_customer.name}さんが新しい活動報告を投稿しました😊🎶
%br
%br
⬇️投稿された活動報告ページはこちら⬇️
%br
#{@activity.title}
%br
「#{@activity_url}」
%br
===============================================
%br
%br
上記活動報告ページにて詳細確認ができます😊
%br
#{@ps_customer.name}さんの「いいね」「コメント」を心よりお待ちしております🎸
%br
%br
Thank you for useing BeMyStyle🎵
%br
%br
%br
🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵
%br
メール通知を停止は「マイページ」より設定変更頂けます。
%br
「マイページ」
%br
#{@mypage}
