===============================================
%br
#{@ac_customer.name}さんがあなたの活動報告に「コメント」しました😊🎶
%br
%br
「コメント内容」
%br
#{@comment.comment}
%br
%br
⬇️「コメント」された活動報告ページはこちら⬇️
%br
#{@activity.title}
%br
「#{@activity_url}」
%br
===============================================
%br
%br
上記活動報告ページにて詳細確認ができます😊
%br
#{@ps_customer.name}さんの活動報告の反響を見てみましょう🎵
%br
%br
Thank you for useing BeMyStyle🎵
%br
%br
%br
🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵
%br
メール通知を停止は「マイページ」より設定変更頂けます。
%br
「マイページ」
%br
#{@mypage}
