===============================================
%br
#{@ac_customer.name}さんがコミュニティへの「参加申請」を【受理】しました😊🎶
%br
%br
⬇️「参加申請が受理」されたコミュニティはこちら⬇️
%br
#{@community.name}
%br
「#{@community_url}」
%br
===============================================
%br
%br
上記コミュニティページにて詳細確認ができます😊
%br
コミュニティに参加が完了しますと「イベント参加」や「メンバー同士の交流」ができます🎵
%br
%br
「イベント参加」
%br
#{@community.name}の主催するイベントに参加することができます！
%br
「メンバー同士の交流」
%br
同じコミュニティ内のメンバープロフィールの詳細ページが閲覧できるようになります。
%br
%br
%br
Thank you for useing BeMyStyle🎵
%br
%br
%br
🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵
%br
メール通知を停止は「マイページ」より設定変更頂けます。
%br
「マイページ」
%br
#{@mypage}
