===============================================
%br
#{@ac_customer.name}さんがあなたのコミュニティに「参加申請」しました😊🎶
%br
%br
⬇️「参加申請」されたコミュニティはこちら⬇️
%br
#{@community.name}
%br
「#{@community_url}」
%br
===============================================
%br
%br
上記コミュニティページの「承認待ち一覧」にて詳細確認ができます😊
%br
#{@ac_customer.name}さん参加申請を許可して頂くと、メンバーへ迎え入れることができます🎵
%br
%br
Thank you for useing BeMyStyle🎵
%br
%br
%br
🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵
%br
メール通知を停止は「マイページ」より設定変更頂けます。
%br
「マイページ」
%br
#{@mypage}
