===============================================
%br
#{@ac_customer.name}さんがあなたに「個別チャット」を送信しました😊🎶
%br
%br
「チャット内容」
%br
#{@chat_message.content}
%br
%br
⬇️「個別チャット」の確認はこちら⬇️
%br
#{@matching_url}
%br
こちらのページで#{@ac_customer.name}さんを選択して個別チャットルームへ入室できます。
%br
===============================================
%br
%br
上記個別チャットルームにて詳細確認ができます😊
%br
返信チャットには「テキスト」や「ファイル添付」もできますので色々お試しください🎵
%br
%br
Thank you for useing BeMyStyle🎵
%br
%br
%br
🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵
%br
メール通知を停止は「マイページ」より設定変更頂けます。
%br
「マイページ」
%br
#{@mypage}
