===============================================
%br
#{@ac_customer.name}さんがあなたの参加するコミュニティに「チャット」を送信しました😊🎶
%br
%br
「チャット内容」
%br
= simple_format(@chat_message.content)
%br
%br
⬇️「グループチャット」の確認はこちら⬇️
%br
#{@community.name}
%br
「#{@community_url}」
%br
===============================================
%br
%br
上記ページの「コミュニティのチャットルームへ」ボタンより詳細確認ができます😊
%br
#{@ac_customer.name}さんチャットを確認し、#{@ps_customer.name}さんもリプライしてみましょう🎵
%br
%br
Thank you for useing BeMyStyle🎵
%br
%br
%br
🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵
%br
メール通知を停止は「マイページ」より設定変更頂けます。
%br
「マイページ」
%br
#{@mypage}
