===============================================
%br
#{@ac_customer.name}さんが新しいイベントを企画しました😊🎶
%br
%br
⬇️該当のイベントページはこちら⬇️
%br
#{@event.event_name}
%br
「#{@event_url}」
%br
===============================================
%br
%br
上記イベントページにてイベントの詳細確認ができます😊
%br
#{@ps_customer.name}さんのご参加を心よりお待ちしております🎸
%br
%br
Thank you for useing BeMyStyle🎵
%br
%br
%br
🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵
%br
メール通知を停止は「マイページ」より設定変更頂けます。
%br
「マイページ」
%br
#{@mypage}
