===============================================
%br
#{@ac_customer.name}さんがあなたの投稿に「いいね」しました😊🎶
%br
%br
⬇️「いいね」された投稿ページはこちら⬇️
%br
#{@post.title}
%br
「#{@post_url}」
%br
===============================================
%br
%br
上記URL「投稿」ページにて詳細確認ができます😊
%br
#{@ps_customer.name}さんの投稿の反響を見てみましょう🎵
%br
%br
Thank you for useing NAKAMA🎵
%br
%br
%br
🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵
%br
メール通知を停止は「マイページ」より設定変更頂けます。
%br
「マイページ」
%br
#{@business_mypage}
