===============================================
%br
#{@ac_customer.name}さんがイベントにリクエストしました😊🎶
%br
%br
⬇️リクエスト内容⬇️
%br
#{@request.request}
%br
%br
===============================================
%br
%br
#{@ps_customer.name}さんの参加したイベント「#{@event.event_name}」へのリクエストがありしました。
%br
こちらを確認するには「#{@event.event_name}」ページをご確認ください。
%br
%br
===============================================
%br
該当のイベントページはこちら
%br
「#{@event_url}」
%br
===============================================
%br
%br
本サイトにてご連絡しましたリクエストの確認ができます。
%br
%br
Thank you for useing BeMyStyle🎵
%br
%br
%br
🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵🎵
%br
メール通知を停止は「マイページ」より設定変更頂けます。
%br
「マイページ」
%br
#{@mypage}
