- visitor = notification.visitor
- visited = notification.visited
- if notification.community_id.present?
  - community_id = notification.community_id
  - community = Community.find(community_id)
- if notification.activity_id.present?
  - activity_id = notification.activity_id

.col-md-6.mx-auto
  .form-inline
    %span
      = link_to public_customer_path(visitor), data: { 'turbolinks': false } do
        - if visitor.profile_image.present?
          = image_tag visitor.profile_image, class: "icon_mini"
        - else
          = image_tag 'no_image', class: "icon_mini"
        %strong
          = visitor.name + 'さん'
      が

      - case notification.action
      - when 'follow' then
        = "あなたをフォローしました"
      - when 'chat' then
        = "あなたに"
        = link_to public_chat_rooms_path(customer_id: visitor.id), method: :post, data: { 'turbolinks': false } do
          メッセージ
        = "を送信しました"
      - when 'group_chat' then
        - if ChatRoomCustomer.where(customer_id: visited.id, community_id: community_id).present?
          = link_to community.name, community_create_public_chat_rooms_path(community_id: community_id), method: :post, data: { 'turbolinks': false }
        = "へメッセージを送信しました"
      - when 'request' then
        = link_to community.name, public_community_path(community_id), data: { 'turbolinks': false }
        = "へ参加申請しました"
      - when 'request_cancel' then
        = link_to community.name, public_community_path(community_id), data: { 'turbolinks': false }
        = "への参加申請を取消しました"
      - when 'accept' then
        = link_to community.name, public_community_path(community_id), data: { 'turbolinks': false }
        = "への参加を許可しました"
      - when 'leave' then
        = link_to community.name, public_community_path(community_id), data: { 'turbolinks': false }
        = "から退出しました"
      - when 'favorite' then
        = link_to 'あなたの投稿', public_activity_path(activity_id), data: { 'turbolinks': false }, style: "font-weight: bold;"
        = "にいいねしました"
      - when 'comment' then
        = link_to 'あなたの投稿', public_activity_path(activity_id), data: { 'turbolinks': false }, style: "font-weight: bold;"
        = "にコメントしました"
      - when 'activity_for_follow' then
        = link_to '活動報告', public_activity_path(activity_id), data: { 'turbolinks': false }, style: "font-weight: bold;"
        = "を投稿しました(フォローメンバー)"
      - when 'activity_for_community' then
        = link_to '活動報告', public_activity_path(activity_id), data: { 'turbolinks': false }, style: "font-weight: bold;"
        = "を投稿しました"
        = link_to "#{community.name}で同チーム", public_community_path(community_id), data: { 'turbolinks': false }


  .small.text-muted.text-right
    = time_ago_in_words(notification.created_at).upcase + "前"
  %hr