- visitor = notification.visitor
- visited = notification.visited
- if notification.community_id.present?
  - community_id = notification.community_id
  - community = Community.find(community_id)

.col-md-6.mx-auto
  .form-inline
    %span
      = link_to public_customer_path(visitor), data: { 'turbolinks': false } do
        - if visitor.profile_image.present?
          = image_tag visitor.profile_image, class: "icon_mini"
        - else
          = image_tag 'no_image', class: "icon_mini"
        %strong
          = visitor.name + 'さん'
      が

      - case notification.action
      - when 'follow' then
        = "あなたをフォローしました"
      - when 'chat' then
        = "あなたに"
        = link_to public_chat_rooms_path(customer_id: visited.id), method: :post, data: { 'turbolinks': false } do
          メッセージ
        = "を送信しました"
      - when 'group_chat' then
        - if ChatRoomCustomer.where(customer_id: visited.id, community_id: community_id).present?
          = link_to community.name, community_create_public_chat_rooms_path(community_id: community_id), method: :post, data: { 'turbolinks': false }
        = "へメッセージを送信しました"
      - when 'request' then
        = link_to community.name, public_community_path(community_id), data: { 'turbolinks': false }
        = "へ参加申請しました"
      - when 'request_cancel' then
        = link_to community.name, public_community_path(community_id), data: { 'turbolinks': false }
        = "への参加申請を取消しました"
      - when 'accept' then
        = link_to community.name, public_community_path(community_id), data: { 'turbolinks': false }
        = "への参加を許可しました"
      - when 'leave' then
        = link_to community.name, public_community_path(community_id), data: { 'turbolinks': false }
        = "から退出しました"
      - when 'like' then
        = link_to 'あなたの投稿', notification.event, style: "font-weight: bold;"
        = "にいいねしました"
      - when 'comment' then
        - if notification.event.customer_id == visited.id
          = link_to "あなたのイベント", notification.event, style: "font-weight: bold;"
        - else
          %span
            = link_to public_event_path(notification.event) do
              - if notification.event.customer.profile_image.present?
                = image_tag notification.event.customer.profile_image, class: "icon_mini"
              - else
                = image_tag 'no_image', class: "icon_mini"
              %strong
                = notification.event.customer.name + 'さんの投稿'
        = "にコメントしました"
        %p.text-muted.mb-0
          = Comment.find_by(id: notification.comment_id)&.comment

  .small.text-muted.text-right
    = time_ago_in_words(notification.created_at).upcase + "前"
  %hr