%p.notice
  = notice
%p.alert
  = alert
.devise-login-container.px-0.px-sm-0
  %h2 ログイン画面
  = form_with model: @customer, url: customer_session_path, local: true do |f|
    = render 'public/shared/error_messages', model:f.object
    %table.table.table-striped.session-table{:width=>"100%",:border=>"1"}
      %colgroup
        %col{width: "19%"}
        %col{width: "81%"}
          %tr
            %th{scope:"row"} ニックネーム
            %td
              = f.text_field :name, autofocus: true
          %tr
            %th{scope:"row"} メールアドレス
            %td
              = f.email_field :email, autofocus: true, autocomplete: "email", style: "width:90%"
          %tr
            %th{scope:"row"} パスワード
            %td
              = f.password_field :password, autocomplete: "current-password", style: "width:90%"
          - if devise_mapping.rememberable?
            %tr
              %th{scope:"row"} ログインを保存する
              %td
                = f.check_box :remember_me
                = f.label :remember_me
          .actions
            = f.submit "ログインする", class: "btn btn-info session-btn"
  = render "public/shared/links"
